<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Post new Job</h1>
        <%= render 'form', job: @job %>
      </div>
    </div>
  </div>
</section
